[2022-04-25 20:31] fmassot opened #1 "Add install procedure in readme"

[2022-04-25 20:50] #1 closed

[2022-04-25 20:56] fmassot commented on #1
thanks!

[2022-04-26 08:29] Frankieabe opened #2 "You bevdmdhkn"
Hehdk

[2022-04-26 10:32] schaafjs opened #3 "Bug: Instant crah when clicking on "Show lenses folder" or "Show settings folder""
The app crashes immediately when clicking on "Show lenses folder" or "Show settings folder".
This happens on both Windows 10 and Ubuntu 20.04 (tested with both the `.deb` version and the AppImage).

Additionally, no sources to index had been added yet.

If log files are saved somewhere, I can provide those if necessary.

[2022-04-26 11:42] teovoinea opened #4 "Adding local file search"
Hey! A few years ago I set out to make a similar project but that was focused on local file search.

You can find it here: https://github.com/teovoinea/podium

Much of the architecture of spyglass seems to be very similar to podium. They both use tantivy for indexing and tokio for async. It seems like you've made some great progress on the UI and bundling it as an actual app. Much farther along th

[2022-04-26 16:09] a5huynh commented on #3
@schaafjs would you mind checking under your user directory under `~/.config/carto`, there should be a settings directory there with the logs. If the directory doesn't exist I think I have a clue why it failed

[2022-04-26 16:19] #2 closed

[2022-04-26 18:49] JoelCourtney opened #6 ""Additional property 'useBootstrapper' is not allowed" when building from source"
I'm trying to build from source on an M1 Mac (2021 Macbook Pro, macOS Monterey 12.3.1). In `make build-release` I am getting:

[code]

Thanks for making this! I don't mind installing from the release, I just figured since this is an M1 mac it might be faster if built from source.

[2022-04-26 19:19] #3 closed

[2022-04-26 19:19] #6 closed

[2022-04-27 03:18] JoelCourtney commented on #4
+1, I think that would be awesome, if its not too difficult.

[2022-04-27 03:19] JoelCourtney opened #9 "Configurable shortcut"
It would be nice to be able to configure the shortcut. I personally would like to use Cmd+/ or Meta+/ (on linux).

[2022-04-27 11:45] teovoinea commented on #4
@a5huynh With regards to Spotlight, there's a couple of features that it doesn't support that are already implemented in Podium like location search and object search for images. The use case is: say I want to find vacation photos, I could search "Italy beach". Podium uses the lat/lon metadata from an image and resolves that to a city, state, country. As well it also does object detection in the p

[2022-04-27 21:44] gbhand opened #10 "Windows installer finishes before Webview2 Runtime install complete"
Not sure if this is Spyglass-specific issue or applies to all Tauri installers, but thought it'd be good to mention.

When running `Spyglass_0.1.2_x64_en-US.msi` from [Spyglass v0.1.2](https://github.com/a5huynh/spyglass/releases/tag/app-v0.1.2) the primary installer states installation is complete and allows the user to start the application, even though `Microsoft Edge Webview2 Runtime` may stil

[2022-04-27 21:47] gbhand commented on #10
Just realized this issue is a bit moot since the Windows build isn't really functional yet 😅. Love the concept & UI, looking forward to the future of this project!

[2022-04-27 22:30] JoelCourtney opened #11 "Startup crash after increasing limits"
Hi, I tried increasing the limits in `settings.ron` and now spyglass crashes on startup with the following crash report (sorry, it is very big):

<details><summary><strong>Report</strong></summary>
<p>

[code]

</p>
</details>

I increased the limits to

- domain_crawl_limit: 100,000
- inflight_domain_limit: 100
- inflight_crawl_limit: 300

Obviously these are slightly ridiculous numbers, I was mo

[2022-04-27 23:03] JoelCourtney commented on #11
Nuking everything in both of the `com.athlabs.carto` directories and re-installing solves the issue, at the cost of all my indexing progress :(

[2022-04-27 23:35] a5huynh commented on #11
Thanks for the bug report @JoelCourtney , thats a funky one. It might be spinning up too many tasks so I'll have to figure out an upper limit but weird that it didn't go back to normal when you reverted the changes

[2022-04-28 01:32] a5huynh commented on #10
@gbhand Thanks for reporting the issue nonetheless 🙂. Still trying to figure out the Windows issue, it's been isolated to the framework I'm using so hopefully a bugfix can be put out soon

[2022-04-28 03:03] a5huynh opened #12 "Crash on window resize (Windows 11/10)"
Tracking updates to this bug which is causing folks on Windows to be completely left out on the fun 😢

[2022-04-28 03:03] a5huynh commented on #12
Reproduced the error and submitted a bug to tauri: https://github.com/tauri-apps/tauri/issues/3990

[2022-04-28 04:26] #9 closed

[2022-04-28 04:42] a5huynh commented on #9
@JoelCourtney added the configuration to the `settings.ron`, let me know if you run into any issues with it!

[2022-04-29 01:22] joseph1125 opened #16 "Select through items will update cursor position"
https://user-images.githubusercontent.com/8279406/165871765-ab9e7a2e-b452-4852-8f9d-607daeff429d.mov

The cursor of the text box will keep jumping when I'm selecting through items.

Great app by the way

[2022-04-29 04:23] a5huynh commented on #11
@JoelCourtney any chance you remember what exactly you put into the `settings.ron`? And was this on macOS?

[2022-04-30 04:48] #11 closed

[2022-04-30 06:17] #16 closed

[2022-04-30 08:49] a5huynh commented on #16
@joseph1125 fixed! Let me know if you run into any additional problems. Thanks for trying Spyglass out 🙂

[2022-04-30 09:02] joseph1125 commented on #16
Many thanks

Best Regards,
Joseph Chong

[2022-04-30 18:32] #12 closed

[2022-05-01 12:31] tarriel opened #23 "Shortcut to launch Spyglass"
So I tried the Cmd + Shift + / which didn't work, I always seem to have issues using the cmd key.  Not to be deterred I changed it to the last example in the readme "Shift+4+2" and get
thread 'main' panicked at 'invalid accelerator: AcceleratorParseError("Unexpected accelerator string format: \"Shift+4+2\"")',
I tried a few other things and eventually got it to load but it still isn't opening a se

[2022-05-01 12:50] tarriel opened #24 "rust example in the readme has errors loading"
I get
Unable to load lens "/home/stuart/.local/share/carto/lenses/rust.ron": 6:9: Expected string
it appears to be having problems with the # comments in both the domains and above the urls:
and the ... at the end of domains.
perhaps you should use // rather than # as this is a comment in ron, for the people like me that just want to try it quickly and easily

[2022-05-01 22:16] a5huynh commented on #23
Hey @tarriel, thanks for trying spyglass out! Let's see if we can figure out what the issue is.

Would you mind adding your `settings.ron` file here so I can check out that shortcut issue? Which platform are you running it as well?

[2022-05-01 22:18] a5huynh commented on #24
Thanks for catching that, I'll fix those comments so it doesn't throw an error if folks are copy + pasting those examples.

[2022-05-02 01:08] #24 closed

[2022-05-02 07:51] winglight opened #26 "Could it be possible to search in a web browser?"
I want to search files stored in a nas that's accessible by web or command line. Is there an api in spyglass to do the same job?

[2022-05-02 10:49] tarriel commented on #23
It is just the default with the shortcut changed, several times just to try and get it to work
`(
    domain_crawl_limit: Finite(1000),
    inflight_crawl_limit: Finite(10),
    inflight_domain_limit: Finite(2),
    run_wizard: true,
    allow_list: [],
    block_list: [
        "web.archive.org",
    ],
    shortcut: "Shift+/",
)
`

[2022-05-02 17:20] a5huynh commented on #26
Hi @winglight, right now Spyglass is focused on crawling things available over HTTP. If your NAS has a web interface, you should be able to point Spyglass to it and have it start crawling.

There's no API for Spyglass at the moment but a way to build extensions for Spyglass is on the road map.

[2022-05-02 17:22] a5huynh commented on #23
Thanks @tarriel , and just to confirm when you hit `Shift+/` nothing shows up at all? Is the Spyglass icon in your menu bar when you try this?

[2022-05-02 21:33] tarriel commented on #23
Yes, I have the icon in the menu bar, and yes nothing shows up.  I have no
idea why, there is nothing printed if I run it from the command line   But
I thought it might be useful if there was an option on the menu icon to
show desktop or something similar.

On Tue, 3 May 2022, 03:22 Andrew Huynh, ***@***.***> wrote:

[2022-05-03 00:06] a5huynh opened #28 "Search bar on linux machines has title bar"

[2022-05-03 00:07] a5huynh opened #29 "Global shortcut flaky on Linux"
- Global shortcut sometimes doesn't work on Linux.
- When it does work, search input is not focused.
- Closing the app sometimes stalls (potentially an IPC issue?).

[2022-05-03 00:32] winglight commented on #26
I might write sth wrong in my poor english that misled you. The result of crawling to web is excellent shown in the GUI by now and it'll be great if searching function could be accessed via web or command line too that might be a resful API to search the crawling results.

[2022-05-03 04:39] a5huynh opened #30 "Take into account canonical URLs when indexing pages to prevent duplicates"

[2022-05-03 04:48] a5huynh commented on #29
Shortcut issues on Linux machines could be due to https://github.com/tauri-apps/tao/issues/307

[2022-05-03 16:06] a5huynh commented on #26
@winglight ah I understand now. No plans to make it accessible via the web yet but a command-line tool might be easy enough.

[2022-05-03 16:08] a5huynh commented on #23
@tarriel are you running on macOS? Or some other platform?

I'll add an option to pop-up the search bar via the menu bar icon while I figure out the underlying issue.

[2022-05-03 20:48] #23 closed

[2022-05-04 11:05] tarriel commented on #23
Sorry, no it is Ubuntu mate 20.04.  It is upgraded from some ancient linage, and I have done a lot of weird development things over a lot of years, but it is stable, and I seldom have problems.  I tried both the binary and compiling from rust and both have the same issue.  I haven't tried modifying the code to force it to run yet.

[2022-05-04 15:53] a5huynh commented on #23
@tarriel ah yeah I've been running into the same issue myself on Ubuntu. I'll release a version today that has manual activation (along with a couple other bug fixes for linux boxes)

[2022-05-04 22:18] #28 closed

[2022-05-04 23:01] a5huynh commented on #23
@tarriel just pushed out the new [release](https://github.com/a5huynh/spyglass/releases/tag/v2022.5.4), let me know if you run into any issues!

[2022-05-07 21:41] skewballfox opened #35 "Invalid discord link"
hey just a heads up, not an actual issue with the code, but the discord invite in the Readme appears to be invalid

unrelated to that, and more to the reason I was heading over to the discord, could this be used to index local files? like say a library of 800+ books, the documentation for dependencies, or a bunch of software projects?

[2022-05-07 21:55] a5huynh commented on #35
@skewballfox thanks for catching that! Updated that to one that never expires 😅.

In terms of indexing local files, it depends on how that data is accessed. At its core, Spyglass is meant to index web pages, so if that's how your data is accessed you should be able to point at some starting page and have it go.

[2022-05-08 00:16] a5huynh commented on #35
Going to close this since you're on DIscord now

[2022-05-08 00:16] #35 closed

[2022-05-10 05:03] #30 closed

[2022-05-12 06:25] Igigog commented on #4
+1

[2022-05-12 07:21] pknessness opened #39 "Ocassionally my spyglass will stop recognizing my lenses"
After a bit, when I try to use spyglass, it stops recognizing my lense, but then when I quit and then reopen it, it works again.
Pre-restart:
![image](https://user-images.githubusercontent.com/93059296/168014231-cbbc93c1-bc39-4d84-81c7-92abbea9258f.png)

Post-restart:
![image](https://user-images.githubusercontent.com/93059296/168014305-c7f6d232-6c7f-45c8-83aa-c5489acefa99.png)

[2022-05-12 09:03] Nirsiel opened #40 "Non-local install and database location"
In the current version release: Spyglass v2022.5.11. it isn't possible to install spyglass on a non-local drive, as the installer won't let you even if you force the path, this wouldn't be that big of a deal, but I would very much like to be able to change a database folder location, to move it to a network drive to share index between multiple PC in a home network, this would significantly save t

[2022-05-12 16:17] a5huynh commented on #40
@Nirsiel Absolutely I can definitely make the index / settings paths configurable.

[2022-05-12 19:37] Nirsiel commented on #40
Perfect, I'm very much a Rust noob so as much as I would like to try to implement to functionality myself and make a pull request, I had to push it into you but let me tell you that spyglass is like a miracle out of nowhere, because I researched for several months a software that could be a personal search engine with its own index, yet still be a desktop application. I tried several solutions tha

[2022-05-13 00:51] pknessness commented on #39
I'll turn on spyglass, then I ran it and it works

I leave it on, and then when I try later it works

I'm not sure if it only works once though, I'll try it once I get to my computer

[2022-05-13 22:37] pknessness commented on #39
Yes, I've checked and it does work more than one time, i'll check again in 15 minutes or so and see how that goes

[2022-05-13 23:18] pknessness opened #41 "Wierd indexing"
I have an SMG lense, and searching in it is odd

When I search, for example, good egg, it doesn't show good egg galaxy
![image](https://user-images.githubusercontent.com/93059296/168400361-b98995e2-bef0-44f4-95d3-88d791be1331.png)

However, when I search something like pirahna, it does
![image](https://user-images.githubusercontent.com/93059296/168400383-2eeb4fc4-b98c-4d61-a8e6-6d51b0d8b702.png)

[2022-05-15 07:41] #40 closed

[2022-05-16 05:20] a5huynh opened #46 "CPU usage is high even when crawler is paused"

[2022-05-16 17:06] a5huynh commented on #40
Hey @Nirsiel , just wanted to let you know that the latest release has this feature added in. Let me know if you run into any additional issues!

[2022-05-16 17:27] #46 closed

[2022-05-17 15:58] Nirsiel opened #50 "Spyglass cannot find lenses and logs folder when data_directory is set"
When Spyglass has a config option data_directory set to a different folder, the button "Show setting folder" and "Show logs folder" opens a User Document folder instead of the actual location. But "Show settings folder" works just fine.

Windows 10, 21H2
Build: 19044.1706
Spyglass version: 2022.5.15

[2022-05-17 21:49] a5huynh commented on #39
@pknessness let me know if this still happens w/ the latest build and I'll close this issue

[2022-05-18 04:55] pknessness commented on #41
The new update seems to have moderately improved the indexing:
![image](https://user-images.githubusercontent.com/93059296/168959913-fec93179-7ecd-4304-908d-3921173b0e89.png)
Good egg shows up now, when i type in good egg

[2022-05-18 05:50] a5huynh commented on #50
Hey @Nirsiel, looking into this I noticed that the Windows path is a little different than the ones you'd use for linux/macOS. Could you make sure they're similar to this with the double backward slashes: `E:\\spyglass\\test-folder`

[2022-05-18 05:52] a5huynh commented on #41
Thanks for testing it out @pknessness! I have some ideas for tweaking the relevancy algorithm that might make it a little better for searches like those. I've definitely noticed that same in my lenses that I've built recently

[2022-05-18 15:04] Nirsiel commented on #50
Hi, sorry for the late reply I forgot to send my settings file, as I was dead tired. Anyway, I did write it with a single slash and spyglass could recognize the path and work with it, but linking didn't. With double backslash, it works correctly and opens logs and lenses now.

[2022-05-18 18:30] a5huynh commented on #50
Thanks for verifying the fix @Nirsiel , I'll update the docs!

[2022-05-18 18:33] #50 closed

[2022-05-18 22:21] a5huynh opened #52 "Detect network changes & pause crawler"
Turning off WiFi, network outages, etc. should be detected and the crawler automatically paused. Should also have a background take to check if network access is available again and restart the crawler.

[2022-05-18 22:44] a5huynh opened #53 "Detect new/changed lens & reload w/ requiring restart"
Adding/updating lenses shouldn't require restarting the entire app.

Relevant crate: https://github.com/notify-rs/notify

[2022-05-23 02:33] #53 closed

[2022-05-27 01:16] pknessness opened #63 "Pause indexing stops too much"
When I tell it to pause crawling, it kinda just dies. The Icon shows up, but when I tried to right click it to enable it again, there's no window that shows up. Attempting to open a new spyglass also doesn't work. Task manager was necessary to close it so I could open a clean instance.

[2022-05-27 01:27] pknessness opened #64 "Crawl Status"
I love the crawl status screen.
I think it might be nice to show, for each set of URLs, which lens is responsible for bringing that URL set into the queue.

I have a number of URLs which, I don't know how they got into the queue, so It would be nice to figure out which lens they're from so I can fix the lens.
![image](https://user-images.githubusercontent.com/93059296/170610196-f26d0735-8286-4467-

[2022-05-27 18:44] a5huynh opened #66 "Better lens management"
- Connect w/ a directory to find/install new lenses
- Enable/disable currently installed ones
- Basic validation

[2022-06-01 08:16] pknessness commented on #39
I believe this to be fixed

[2022-06-01 08:16] #39 closed

[2022-06-02 06:17] a5huynh opened #67 "Handle HTTP only sites"
Currently we assume HTTPS is enabled, but that's not the case for every site.

Examples:
http://paulgraham.com/
http://phrack.org/

[2022-06-03 03:22] a5huynh opened #68 "Detect & handle 429 error codes gracefully"
Crawling some sites too fast will result in: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429

[2022-06-03 22:59] a5huynh commented on #66
Closes w/ #71

[2022-06-03 22:59] #66 closed

[2022-06-07 03:43] sbeckeriv opened #74 "[bug][linux] search box pops under full screen windows"
Dearest Maintainer,

Thank you for your work on this project. I found ubuntu the search box pop under my full screen windows. The search box does not have focus.
![image](https://user-images.githubusercontent.com/12170/172291040-d249c725-f5eb-4789-97de-59d8f7bffd64.png)

Thank you.

[2022-06-07 05:55] sbeckeriv opened #75 "[bug] Batch load queued and indexed"
Dearest Maintainer,

Thank you for your work on this. I have not indexed the world yet but I strive to. I was running the not working firefox importer code you started and hit a fun limit. https://github.com/a5huynh/spyglass/blob/main/crates/entities/src/models/crawl_queue.rs#L370 i have 69736 urls. This causes some issue in the sql because of the variable limit. Batch loading by chunks of urls sh

[2022-06-07 06:10] sbeckeriv opened #76 "[improvemnt] break off browser importers"
Dearest maintainer,

I have ran the firefox import code and it seems nice. I would like to use the concept in a broken out in to a cron-able cli. I am unsure how hard or easy the app state and sqlite connections will be to share. Another consideration is a specific block list for this task and a large starting len that blocks common indexing sites that change often. I think like https://news.ycomb

[2022-06-07 21:21] a5huynh opened #77 "Improve page summary algorithm"
Some pages are not generating a summary:

<img width="686" alt="Screen Shot 2022-06-07 at 2 19 33 PM" src="https://user-images.githubusercontent.com/146222/172484848-27fd776b-6838-4a2e-b4a3-83d16ccac8cb.png">

[2022-06-07 23:22] #67 closed

[2022-06-07 23:22] #68 closed

[2022-06-08 15:34] sbeckeriv commented on #4
I think I was being to narrow with my idea of breaking off the importer https://github.com/a5huynh/spyglass/issues/76 . If there was a way to write custom importers it would give a person the freedom to write one that extracted metadata from images for example. Or create an importer that requires authentication (email?).

[2022-06-08 15:38] sbeckeriv opened #80 "[improvement] Break up domain indexing"
Dearest maintainer,

I was watching the indexing hammer away at the internet this morning at top speeds. I started to feel slightly bad for the domain. It is just one domain in my active list at the moment but have many to hit. I was wondering a max per domain limit perhaps. This would allow more then one domain to be hit and hopefully give a single domain a moments break? Maybe it should alternat

[2022-06-08 16:23] #74 closed

[2022-06-08 16:37] a5huynh commented on #80
@sbeckeriv this should be covered by the `inflight_domain_limit` which will limit how many crawlers focus on a single domain. Although, if it's in the bootstrapping phase it'll be pulling data with no limit from the Internet Archive, which lets us crawl as much as we want 🙂.

[2022-06-08 18:42] sbeckeriv opened #82 "[improvement] cache calls to robot.txt"
Dearest maintainer,

I think caching calls in memory(?) to robots.txt for an hour would save a lot of calls to robots.txt when importing. I was going to say per session but i think a time limit would cover a lot of calls.

Thanks for your consideration
Becker

[2022-06-09 02:17] a5huynh commented on #82
@sbeckeriv the `robots.txt` should be converted into a `resource_rule` when the domain is first crawled. Do you have an example of a domain where this was happening? I might not be handling the case where one doesn't exist at all.

[2022-06-09 04:01] sbeckeriv commented on #82
@a5huynh i will try and get the logs. I was just watcing the logs it would say no rules found loading robots.txt I re-read the code https://github.com/a5huynh/spyglass/blob/main/crates/spyglass/src/crawler/robots.rs#L112 I see it is stored in the db. If you run N domains it will make N request but it should write the rules.

I am wondering if i was hitting the catch all in the match:
https://githu

[2022-06-09 04:07] sbeckeriv commented on #80
I guess i was thinking about a cool down phase for domains. if its not a use case to be worried about i will close this.

[2022-06-09 04:07] #80 closed

[2022-06-10 22:35] a5huynh commented on #82
Let me know what you see the logs! But you're right, at the very least that empty branch should log or allow all if we're unable to find a `robots.txt`

[2022-06-11 14:10] #77 closed

[2022-06-11 14:10] #75 closed

[2022-06-21 04:46] a5huynh opened #85 "Create docs site for building/lenses/etc."
Having everything in the README is a little difficult to read / find things. It'd also serve as a great set of pages to index on a new install 😄

[2022-06-21 22:45] Rodrigodd opened #87 "add Build and Run instructions to README"
On Windows, spyglass appears to stop working, and from the server logs I can only see that they stop to be generated. So I am trying to run it from source to see if it is panicking or something. But I never tried to build a tauri or client/server project, so I don't know how to get it running.

Can you include in the README instruction to Build and Run spyglass in dev?

I think it is `make run-cli

[2022-06-22 00:19] Rodrigodd commented on #87
After pulling master (the "bump tauri to v1.0.0"), `cargo tauri dev` give a more explanatory error message, and I figure out that I need to run `make build-backend` before it. And after running a windows-adapted version of the Makefile, I finally build spyglass.

But now it is spawning a frezzed white window. I will investigate further another day.

[2022-06-22 01:28] a5huynh commented on #87
Yeah totally agree, @Rodrigodd, I'm currently working on some better documentation for everything. If there is a panic or some sort of error, it should be logged in either the server/client logs, so there could be something else going on.

Regarding the dev mode, one thing to remember is to make sure the backend is running first,

[code]

and then run the client side related stuff,

1. to build th

[2022-06-23 21:04] hcarrega opened #92 "Typo on shorcut instead of shortcut"
![image](https://user-images.githubusercontent.com/2180184/175399366-78d3399b-4d76-453b-aa34-95a80b1c65ff.png)

[2022-06-23 21:12] #92 closed

[2022-06-23 21:13] a5huynh commented on #92
Easy fix thanks @hcarrega appreciate it. Let me know if you run into any issues w/ spyglass, always looking to make it better 🙂

[2022-06-23 21:46] a5huynh opened #93 "Support `$` regex on urls for singular matches"
`urls` in lenses are treated as prefixes at the moment, i.e. "https://example.com" will match "http://example.com/blah", etc.

[2022-06-24 14:20] natrys opened #94 "Typeahead UI not showing suggestions"
Hello, saw this on HN and thought it's a really cool idea ;)

I have downloaded the Appimage for Linux and added a Lens (gentoo wiki). So far the indexing is working and the tray is also showing up in polybar.

However when I am using the typeahead, I presume there should be suggestions but nothing is showing up. If I press enter, it does open up a relevant page in browser so I believe it's just a

[2022-06-24 16:54] natrys commented on #94
Not a problem, here they are: https://gist.github.com/natrys/1cfe99770295b02502d20c2b6b95b201

Server log is a bit hefty because of the crawlings. Typed again just before uploading so that those events are at the bottom.

[2022-06-24 17:31] a5huynh commented on #94
@natrys thank you, taking a look into the bug

[2022-06-25 20:30] #52 closed

[2022-06-25 21:27] SapphireDragons opened #97 "It's not crawling anymore???"
Am I just stupid?
So one of my lenses just stopped crawling and none of the other fully completed ones are indexing anything?

[2022-06-25 21:57] a5huynh commented on #97
Hey @SapphireDragons, happy to take a look at whats going on!

Are you using one of the community lenses? Or did you build one yourself? If you built it yourself, would you mind attaching the lens here (or sending it to me directly on Discord) so I can take a look? Likewise with the logs so I can see whats going on.

[2022-06-25 23:20] a5huynh commented on #94
@natrys just pushed a bugfix that dealt with some ERRORs I saw in your logs. Could you try that and let me know if that worked? Thank you!

[2022-06-26 01:22] SapphireDragons commented on #97
I can, what's your discord? And yes it's self-made

[2022-06-26 02:00] a5huynh commented on #97
https://discord.gg/663wPVBSTB

[2022-06-26 04:46] a5huynh commented on #97
Solved on Discord!

[2022-06-26 04:46] #97 closed

[2022-06-26 09:00] natrys commented on #94
Hi, so the good news is that compared to last version, I do see suggestions now ;) Though the little bit of caveat is, there is still a small UI glitch: https://i.imgur.com/qWcgDrA.mp4

So basically, first time after I launch spyglass, the suggestions don't appear until I try to resize the window. However, after the first run all subsequent runs work fine.

It's probably a Tauri/Webkit problem, I

[2022-06-26 09:00] #94 closed

[2022-06-26 17:50] a5huynh commented on #94
@natrys glad to see that its working! Out of curiosity, which distro are you using? I've only been testing on the latest Ubuntu so I wonder if distro differences would account for the inconsistencies.

Regarding that build error, I ran into a similar issue recently w/ the latest tauri-cli version. It's fixed on their main branch, so if you install it via `cargo install tauri-cli --git https://gith

[2022-06-26 17:50] #93 closed

[2022-06-28 20:24] a5huynh commented on #85
Closed w/ https://docs.spyglass.fyi

[2022-06-28 20:24] #85 closed

[2022-06-29 03:57] a5huynh commented on #87
Hey @Rodrigodd, just wanted to loop back and see if you were able to build things and/or find that issue you were running into. A couple bugfix updates were pushed over the past week which should help.

[2022-06-29 10:00] #87 closed

[2022-06-29 17:17] a5huynh commented on #87
@Rodrigodd if that's a custom lens and you need some help building it, I'm also happy to help you. Feel free to open another issue / ping me on Discord once you get back to it!

[2022-06-29 19:44] a5huynh opened #102 "Support for sitemap.xml queueing"
If available, scan sitemap.xml for matching URLs when bootstrapping a lens

[2022-07-06 03:43] a5huynh opened #108 "Pop up a notification when a lens is finished crawling"
Would be nice to install a lens, let it go while you do other things and then get notified when its finished.

[2022-07-09 15:35] billy1624 opened #111 "Consider adding Spyglass to SeaORM showcase!"
Hey @a5huynh, feel free to submit a PR to showcase your project!
- https://github.com/SeaQL/sea-orm/issues/403

[2022-07-09 17:28] a5huynh commented on #111
thanks for the rec @billy1624 , just opened a PR!

[2022-07-15 18:31] esheris commented on #4
I'd just like to +1 this also. I'd love to use this in a way that merges my local files/notes/pdfs/etc from specific directories or NAS and a personally indexed web.
Unrelated but another nice feature might be a browser plugin that you can click to easily add a page to your index.

[2022-07-17 20:46] a5huynh commented on #4
@esheris Looking into building out some of this functionality soon!

Question for you & everyone else on this thread, what file types should I focus on first? `txt` files? code files?

[2022-07-17 21:17] teovoinea commented on #4
@a5huynh `txt` will be the easiest to prove out the code architecture/organization since you don't need to deal with parsing anything. Afterwards, I think images/office/pdf files provide the most value!

[2022-07-20 00:46] esheris commented on #4
I second text. I use a few apps that use markdown for formatting but they are still just text files.

[2022-07-21 00:52] a5huynh opened #115 "Add a button to clear the queue for a domain, potentially delete as well"

[2022-07-22 18:01] #76 closed

[2022-07-22 22:10] #115 closed

[2022-07-24 17:18] #10 closed

[2022-07-26 12:55] dataO1 opened #131 "build fails"
Hi, im trying to make a nixos derivation for spyglass, but the build fails. Here are the error logs:

[code]

I have the following packages installed as buildInputs:

[code]

[2022-07-26 19:42] sloganking opened #132 "Indexing never completes"
Upon initial launch. I selected a community lense (factorio) to download, as a test. Since then, all windows are refreshing indefinitely.

![](https://i.imgur.com/Fd5B6k3.png)

Upon launching from terminal, I am getting these errors:

![](https://i.imgur.com/BJwgZHO.png)

This is using ``spyglass_22.7.4_amd64.AppImage`` on Manjaro linux.

This seems to be the case, even when deleting ``factorio.ro

[2022-07-26 19:53] sloganking opened #133 ""Search" box rendering off screen"
Depending on multi-display orientation, the search box will not be rendered on screen. This is with ``spyglass_22.7.4_amd64.AppImage`` on ``Manjaro`` Linux, using the ``Cinnamon`` desktop environment. So the search box appears to be horizontally aligned with the primary display, but not vertically.

## Examples

![](https://i.imgur.com/vkN9KvK.png)

![](https://i.imgur.com/rxzqMCm.png)

![](https:

[2022-07-26 20:05] a5huynh commented on #131
Hey @dataO1 , could you try adding the `wasm32-wasi` target to rust and running `make build-plugins-release`? Seems to be failing at the plugins compilation. You can add the target via rustup like so: `rustup target add wasm32-wasi`

If that still doesn't work, we can try building things without the plugins

[2022-07-26 20:08] a5huynh commented on #132
Hey @sloganking, happy to take a look! Looks like the backend crashed and the UI is unable to communicate with it.

Would you mind attaching the log files to this issue? On linux they should be under `$HOME/.local/share/spyglass/logs`. That will help me pinpoint the issue.

[2022-07-26 21:52] sloganking commented on #132
@a5huynh Here are my logs

[client.log.2022-07-26.txt](https://github.com/a5huynh/spyglass/files/9193526/client.log.2022-07-26.txt)
[server.log.2022-07-26.txt](https://github.com/a5huynh/spyglass/files/9193527/server.log.2022-07-26.txt)

## Update

![](https://i.imgur.com/5lBxAJA.png)
- Some windows are displaying information now,
- The search Funciton is working (it didn't earlier).
- The system

[2022-07-26 21:54] sloganking commented on #132
Upon closing and opening the status window again, it seems to work as well. Not sure why it was blank the first time.

![](https://i.imgur.com/dOBFszy.png)

[2022-07-27 09:47] dataO1 commented on #131
Hi, cargo now complains that it cant find the binaries for spyglass-server. I added the wasm32-wasi target to rust, but still built for my architecture (x86_64_linux), is this correct?

Here's the error logs:
[code]

[2022-07-27 17:09] skewballfox opened #135 "AppImage immediately crashes on fedora with sway"
not sure which is the culprit so I added both. I'm assuming that since spyglass app is trying to register a shortcut, this has to do with the window manager I am using. I'm guessing you are trying to communicate with some settings daemon which doesn't exist.

upon launching the app image, an grey X window appears with the text "search" and this text displays to stdout:
[code]
afterwords the window

[2022-07-27 18:19] a5huynh commented on #131
Yeah that's correct, the `wasm32-wasi` is for the plugins specifically.

All that's left is the binary for tauri to package into an app. If you run `make build-backend` it'll build the binary and put in the binaries folder for tauri to pick up. Btw, were you running `make build-release`?

[2022-07-27 22:51] a5huynh commented on #135
@skewballfox would you be able to test it on a different window manager (something like Gnome would be perfect)? Just so I can narrow down the issue to either Fedora or the window manager itself.

Thanks!

[2022-07-28 16:22] skewballfox commented on #135
I can't. This system was installed from a net installer and is missing most of the dependencies, I'm also launching my WM from bash_profile rather than using a login manager.

I can install it from source if there is some debug info that might provide

[2022-07-28 23:25] a5huynh commented on #135
@skewballfox Gotcha! One thing we can try before going in to the dev build would be to install some of the dependencies for [Fedora required by tauri](https://tauri.app/v1/guides/getting-started/prerequisites#setting-up-linux).

There 3 libraries it would expect are: `libwebkit2gtk-4.0-37`, `libgtk-3-0`, and `libappindicator3-1`

If the app still has trouble launching, I can walk you through a dev

[2022-07-29 00:06] skewballfox commented on #135
I actually installed those yesterday, though the packages have a different
naming convention on fedora the rest of the red hat family

On Thu, Jul 28, 2022 at 6:26 PM Andrew Huynh ***@***.***>
wrote:

[2022-07-29 18:55] skewballfox commented on #135
so after running `cargo tauri dev` I see the error message that is happening client side after the displayed output:
[code]

[2022-07-31 02:29] a5huynh commented on #135
Thanks for digging into this @skewballfox , I'll report this issue upstream. Seems like `tauri` is unable to register a global shortcut w/ sway.

Just curious, would running the application w/ superuser rights make that error go away?

[2022-08-01 17:38] a5huynh opened #142 "New version dialog pops up multiple times if left alone"
Seems to be an issue w/ the underlying updater framework & dialog. Good excuse to create a nicer updater dialog which shows the changelog and update progress bar

[2022-08-05 01:31] Sanookmakmak opened #151 "could not compile `local-file-indexer` and `chrome-importer` due to previous error"
Ubuntu 20.04
[code]

[code]

[2022-08-05 02:24] a5huynh commented on #151
Hey there @Sanookmakmak, `cargo build --release` will try to build everything in the workspace w/ the same target, which doesn't quite work with the client/plugins which use WebAssembly.

If you haven't already, setup your dev environment:
[code]

And building everything in release should be:
[code]

You can check out the `Makefile` to see the exact cargo commands if you're interested. Let me know

[2022-08-05 05:48] #142 closed

[2022-08-05 14:04] Sanookmakmak commented on #151
After running
[code]
it does compile now, but bundling does not seem to work:
[code]

[2022-08-08 15:05] skewballfox commented on #135
Just looking at that error code, No. X11 and Wayland have very different architectures: under X applications had direct access to keyboard input(like all input, not just the input to their respective window). This was part of the reason why wayland was adopted, because of the [inherent security risk of that design feature](https://wiki.gentoo.org/wiki/User:Sakaki/Sakaki%27s_EFI_Install_Guide/Sandb

[2022-08-08 15:06] skewballfox commented on #135
Is there a way to tell `tauri` to run a wayland session, rather than an X session?

[2022-08-09 17:00] a5huynh commented on #151
Sorry for late reply, trying to see if I could reproduce the error locally on my linux box to no avail.

Would you mind running `cargo tauri build -- --verbose`? That should hopefully print out the actual error where its failing.

[2022-08-10 05:36] a5huynh commented on #4
A first pass at local file search has been release 🙂 with `.md` and `.txt` file support. Would love feedback for whats there and for what other file support should be added next!

Happy searching 🙂

[2022-08-10 05:49] LoganDark commented on #63
![image](https://user-images.githubusercontent.com/4723091/183825012-1cec39ce-5bc4-43ef-a0e4-f8af1487c7b9.png)

Can confirm using pause indexing completely screws up the app.

- Almost nothing loads in settings
- Trying to restart indexing causes the app to just die

Honestly I'm just really not vibing with the lack of polish in this project. :(

[2022-08-10 05:52] a5huynh commented on #63
Hey @LoganDark sorry to hear that! I run the app pretty much 24/7 (as do others). I haven't received any reports of freezing like that in a while so I'd love to take a deeper look.

Would you mind attaching some of your logs, hopefully that will shed some light on the issue/

[2022-08-10 05:53] LoganDark commented on #63
Unfortunately looks like the app completely deletes the logs if you launch it twice on the same day. The logs are gone.

[2022-08-10 05:54] LoganDark commented on #63
I was able to reproduce the issue

[client.log.2022-08-10.log](https://github.com/a5huynh/spyglass/files/9297142/client.log.2022-08-10.log)
[server.log.2022-08-10.log](https://github.com/a5huynh/spyglass/files/9297143/server.log.2022-08-10.log)

[2022-08-10 06:02] a5huynh commented on #63
Thanks @LoganDark, I was able to reproduce the error & should be out a fix for that ASAP.

[2022-08-10 06:03] LoganDark commented on #63
Can you please fix the issue where the program will overwrite its own logs as well? Also consider adding a `.log` extension on the end by default...

[2022-08-10 06:12] LoganDark commented on #135
Tauri uses (a fork of) Winit for window handling so just set the environment variable `WINIT_UNIX_BACKEND=wayland`

[2022-08-10 15:41] #63 closed

[2022-08-10 22:24] a5huynh commented on #132
Closing this since things seem to be working for ya. Let me know if you run into the issue again!

[2022-08-10 22:24] #132 closed

[2022-08-11 16:17] redraskal opened #161 "Hide/gray-out disabled plugins/lenses/whatnot in search"
I did not yet enable/setup the chrome or firefox importer, yet I see them on the command list.

I think disabled plugins/lenses/whatnot should be hidden in search or should be grayed out as unavailable or something.

The user should be aware that the search will yield no results.

### Quick idea
![example](https://user-images.githubusercontent.com/6241454/184183541-77651d91-58d6-4f9c-a570-2bbf0a3f

[2022-08-11 16:52] redraskal commented on #4
I would really love to see folder indexing at some point!

Folder indexing in general would be useful, but it would be great for code projects! Maybe detect a .vscode folder, .vs, .idea, etc and then display the folder as a search result and clicking it will open the project in that IDE.

It's not incredibly more convenient than just opening the right IDE and clicking on a recent project, but it w

[2022-08-11 19:25] redraskal opened #162 "Use multiple crawling sources"
Spyglass can easily hit archive.org rate limits.

### Ideas:
- Fallback to Google cache or live site
- Swap between archive.org, live site, & maybe Google cache to avoid rate limiting and balance out the request load

[2022-08-12 06:17] #161 closed

[2022-08-12 16:43] dippa-1 opened #164 "User install possible?"
Hi,
do you think it's possible to install this for the current user only?
I'm using Windows without admin rights at work and a user-only install would make me able to install it.
I guess it would not be possible to index folders that need admin rights.

[2022-08-12 17:07] a5huynh commented on #164
Hey @dippa-1, is asking for admin rights to install? There shouldn't be anything that needs that but I'll double check the Windows installer docs to see if thats an option.

[2022-08-12 19:21] dippa-1 commented on #164
Yes, it asks for admin rights and wants to install in `C:/Program Files`. A user install would be in some directory below the username.

[2022-08-12 19:21] jerrac opened #166 "All spyglass screens are blank."
![spyglassblankscreen](https://user-images.githubusercontent.com/910764/184427312-8d88724d-8544-4772-a4cc-98abf2720163.png)
That's all I get for Crawl Status, Manage Lenses, Manage Plugins, and Preferences. I get a shorter blank screen with no title bar for Show Search.

This on Pop!_OS 20.04.

I've tried both the AppImage and the deb files a few times over the past few weeks since I found this pr

[2022-08-12 19:31] a5huynh commented on #166
This feels like a missing dependency for the webview. Would you mind checking to see if you have all the linux requirements for Tauri? https://tauri.app/v1/guides/getting-started/prerequisites#setting-up-linux

[2022-08-12 19:41] jerrac commented on #166
I had most of those dependencies, but I did need the following:
[code]
Also ended up upgrading rustc to 1.63.0 (4b91a6ea7 2022-08-08) (from rustc 1.49.0 (e1884a8e3 2020-12-29)). I didn't realize it had been that long since I tried any rust programming... :\

Anyway, I'm still getting blank screens. I shouldn't need to restart X or anything, right?

[2022-08-12 20:09] a5huynh commented on #166
I don't think so and it's weird that there are no errors at all.

Are you able to run the AppImage from the command line? There might be logs there from the OS that could give a hint to whats going on. Otherwise I've been meaning to try out PopOS 🙂. We'll have to compile from source to see whats wrong

[2022-08-12 20:11] a5huynh commented on #164
Okay found the configuration needed to support this. This will require some changes to the Windows installer, I'll see what I can do!

[2022-08-13 00:26] a5huynh commented on #166
@jerrac, I was able to run the latest AppImage with a fresh install of Pop!_OS 22.04 LTS. It might be an issue w/ that older version?

[2022-08-13 02:01] jerrac commented on #166
Could be. I tend to keep my local system at least mostly in sync with my servers, so I haven't tried upgrading.

Anyway, I do get an error when I try to run the appimage via the command line:

[code]
The second error showed up when I tried to view a settings screen.

[2022-08-13 02:38] jerrac commented on #166
Hmm... I just tried compiling. It spit out over 5000 lines of errors.

Most of them like:
[code]
I never got more than a few chapters into the rust book during my aborted attempt to learn rust, so I have no idea if those errors are due to something missing on my system, or an actual bug.

In any case, something is definitely off with running Spyglass on PopOS 20.04.

Out of curiosity, have you bee

[2022-08-13 03:33] a5huynh commented on #166
Unfortunately, the Ubuntu box that I have is also on 22.04 as well. I'll try running the older versions to see if I run into the same thing. Looking through the tauri docs, issues on older system might stem from the AppImage being built on a 22.04 distro.

With regards to those error messages when you compile from source, what version of Rust are you running?

[2022-08-13 03:56] jerrac commented on #166
Just upgraded rust today to the latest when you asked me to make sure the Tauri deps were installed.

[code]
Also, after digging up an iso, I threw up a brand new PopOS 20.04 vm. The latest appimage gives me more than just a blank screen, but crawling doesn't seem to be working, and adding a folder to to the local-file-importer folders list setting doesn't seem to stick around after I save and res

[2022-08-14 00:39] jerrac commented on #166
Restarting fixed the blank screens issue.

[2022-08-14 00:39] #166 closed

[2022-08-14 00:54] jerrac commented on #4
Indexing PDFs/scanned receipts is my main use case for a tool like Spyglass. So, once you get the easier parts figured out, I'd love to see some OCR magic implemented as well. I know it's possible, I've been experimenting with Docspell and it does a decent job of it. (I'm just not finding Docspell's interface to be what I need...)

[2022-08-14 02:14] a5huynh commented on #166
Awesome glad to hear it! Do you think it was just the missing dependencies in the end?

[2022-08-15 14:55] jerrac commented on #166
Maybe, but from some of what I was seeing when I searched that initial error, I think the running version of a library was just too old. I hadn't rebooted in 42 days.

[2022-08-16 01:43] #164 closed

[2022-08-16 12:02] Sanookmakmak commented on #151
`cargo tauri build -- --verbose`

[code]

[2022-08-16 12:20] Sanookmakmak commented on #151
`/home/user/Rust/spyglass/target/release/bundle/appimage/build_appimage.sh`

[code]

[2022-08-18 03:29] a5huynh commented on #164
@dippa-1 just pushed out a new release that should have this fix in it, let me know if it works!

[2022-08-20 16:47] a5huynh opened #173 "Pausing indexing should also pause bootstrapping"

[2022-08-20 16:49] a5huynh opened #174 "Better UX around lens building"
Lens building right now is black magic. Would be great to have a UI/validator of some sort to help folks build things out.

[2022-08-22 17:44] dippa-1 commented on #164
Thanks for your efforts. I can change the install folder to my user but it still requests admin elevation.
It's not too important though

[2022-08-23 05:13] #173 closed

[2022-09-01 03:13] a5huynh opened #179 "Cut up client/server so that server & client can be hosted separately"

[2022-09-16 21:14] natrys opened #185 "[Plugin] Firefox importer periodic update issue"
Right now the `places.sqlite` file is copied to data dir during plugin load only. In subsequent updates only queries are run without first refreshing the db file again. This causes no new pages to be queued in the system until spyglass is closed and started again, which is a problem for people who clears browser data automatically on exit.

[2022-09-16 21:40] CouldBeThis opened #186 "stop animation on start up"
The hand here is bouncing up and down. My screenshot doesn't capture the movement. I suggest that this be made to stop because it's really obnoxious. Or put a button to hide it or something.

![image](https://user-images.githubusercontent.com/53547181/190790516-bbbba779-1555-4305-baef-41ce99bc0497.png)

[2022-09-16 21:58] CouldBeThis opened #187 "Could not display - there is no application installed for "AppImage appliation bundle" files"
I am on manjaro linux and I downloaded [v2022.9.1/spyglass_22.9.1_amd64.AppImage](https://github.com/a5huynh/spyglass/releases/download/v2022.9.1/spyglass_22.9.1_amd64.AppImage). I do not use appimages much so not terribilty framiliar with them. Tried to double click in the GUI file manager to open and get:

![image](https://user-images.githubusercontent.com/53547181/190803067-3e3c2f47-2d74-49cd-b

[2022-09-16 22:12] CouldBeThis opened #188 "Spyglass first run/wizard confusing"
Hello, thank you for creating this tool which is in my opinion, sorely needed. :) (I only make a bunch of issues in your repo out of <3.)

I am a little confused about what to do here. Once I [opened the appimage](#187) I get this:

![image](https://user-images.githubusercontent.com/53547181/190797930-cfa1134e-f9da-465b-a54a-38b6691f4df6.png)

The 3 menu items and what they open are:

- [index loc

[2022-09-17 05:02] a5huynh commented on #188
Hey @CouldBeThis, just getting to these issues now. Thanks for trying out Spyglass and taking the time to report on issues, I really appreciate it!

Does xfc4 / xfwm have a concept of a "system tray"? There should be a little spyglass icon there that will open up on left/right click.

[2022-09-17 09:42] CouldBeThis commented on #188
Aha, I see. I was not looking in this location. As I understand it there are a wide variety of "bar" or "panel" systems. I'm using [`xfce4-panel`](https://docs.xfce.org/xfce/xfce4-panel/start) which is also sometimes used by people with tiling WMs. KDE and Gnome have their own thing going on. And people have other highly customized ones like `polybar`.

In the `xfce4-panel` settings (`xfce4-panel

[2022-09-18 00:52] a5huynh commented on #188
@CouldBeThis thanks for diving into this. I've only tested on Ubuntu so far, so appreciate another set of eyes from the linux perspective.

It seems like it's having trouble starting up the backend. Would you mind seeing if there are any errors in the logs? The log folder should be accessible from that tray icon, under `Open logs folder`

[2022-09-18 01:54] #185 closed

[2022-09-19 18:47] #186 closed

[2022-09-22 17:05] a5huynh commented on #188
@CouldBeThis just following up on this. Did you get a chance to try things again and see if there are error logs?

[2022-11-12 17:52] Flash1232 commented on #188
Maybe to expand on this: I too was confused about the getting started wizard after launching the AppImage, until I noticed the tray icon. I'm currently on Manjaro Linux with XFCE and I cannot get the search window to appear. Adding lenses and crawling seem to work though.

[2022-11-12 18:57] a5huynh commented on #188
@Flash1232 does changing the global shortcut to something else work? The default is `Ctrl + Shift + /` and can be updated in the `settings.ron` file (`User Settings` -> `Show Folder`)

[2022-11-12 23:31] johnblommers commented on #188
OK, look, it is not enough to point to the documentation. Nobody reads that at first. Surely it makes sense to make the Spyglass Wizart smart enough to guide the first-time user. Features should be discoverable via affordances. A tiny blue icon in the menu bar doesn't work as an affordance.

[2022-11-12 23:47] a5huynh commented on #188
@johnblommers thanks for the feedback! Totally understand where you're coming from, I'm working on improving the wizard and the first install experience for users.

If you have any UI/UX experience, I'd love to pick your brain some more. Or if you have a wizard/first install experience you like from another app that would help point me in the right direction for Spyglass.

[2022-11-13 00:26] johnblommers commented on #188
The first-run experience can be made smoother by indicating likely bumps. For example:

1. I installed Firefox by hand and found that I had to manually add the path to the `places.sqlite` file. That's crucial to indexing Firefox bookmarks but nothing points the user to this information. I found it by going  through the preferences. IMHO this is something the Wizard can help with.
2. Then how to se

[2022-11-13 16:06] haibane-tenshi opened #223 "Multiple folders (lens, logs) are broken on Windows"
Possibly related to non-default data directory.

Tested so far:

* "Lens folder" in settings => username/Documents
* "Open logs folder" in contextual menu => username/Documents
* "Show folder" in user settings => works, surprisingly

Installing lens from "available" tab works. They do appear where they should. Attempting to add custom lens to either true lens folder or Documents resulted in nothin

[2022-11-13 16:09] haibane-tenshi opened #224 "Open/navigate to local files"
Not sure if this is limitation of Tauri, but would be very nice. I intended to use spyglass to search through pile of notes/documents, but without being able to navigate to search results this is rather frustrating.

[2022-11-13 16:17] haibane-tenshi opened #225 "Improving search output - highlight matched text"
Something that jumped at me is that results don't show what they matched against which sometimes makes it difficult to know if this is what you are looking for - especially if the title doesn't contain your search string.
For example, searching through XKCD often yields pages with unrelated titles and "This work is licensed under a Creative Commons Attribution-NonCommercial 2.5 License." as conten

[2022-11-13 16:23] Flash1232 commented on #188
Thanks for the quick reply. Sadly no. I cannot even get it to open by using the tray menu.

[2022-11-13 16:25] Flash1232 commented on #188
Thanks for the quick reply! Yes, actually that worked (after a full app restart). Amazing!

[2022-11-13 19:49] a5huynh commented on #223
@haibane-tenshi would you mind attaching the custom lens you used? It would help debug things. Spyglass should be able to automatically pick up new lenses.

[2022-11-14 01:44] a5huynh commented on #224
@haibane-tenshi which OS are you running? Hitting `Enter` or clicking on a selected result should open it in an application that can support that file.

[2022-11-16 18:55] #29 closed

[2022-11-18 04:43] alisa101rs opened #231 "Web Archive"
Currently I am trying to add `rustlang` lens, but every time I try to open any search result from `docs.rs` I end up at web.archive.org page, which is very slow (and has no css).

Is it possible to configure this behavior? I don't want to open web.archive.org pages

[2022-11-18 04:54] a5huynh commented on #231
Hi @alisa101rs, happy to take a look!

Would you mind attaching the lens thats causing this issue? It should be only using the web.archive.org URL only if it can't find the original URL for some reason.

[2022-11-18 09:52] alisa101rs commented on #231
[code]

[2022-11-18 11:11] andrewdavidmackenzie opened #232 "Addition of blank local local-file-importer file type"
Just started trying Spyglass, and it looks promising.
I hope filing some bug reports and ideas helps.
Being a rust programming, when I can I can take a look at some good-started-issues maybe to help out a little.

Bug Report
In Setting > Manage User Settings, I see the `local-file-importer:File Types with this default list
<img width="573" alt="Screenshot 2022-11-18 at 12 06 30 PM" src="https://us

[2022-11-18 11:17] andrewdavidmackenzie opened #233 "Suggest renaming of Settings menu entries"
The current settings sub-menu  entries are:
<img width="366" alt="Screenshot 2022-11-18 at 12 13 52 PM" src="https://user-images.githubusercontent.com/5529132/202692799-4578855a-93a9-4621-a2e9-a605387048f7.png">

The Manage word on each makes them longer and is a bit redundant. I propose to rename them to:
- "Connections"
- "Lenses"
- "Plugins"
- "User Settings"

[2022-11-18 11:24] andrewdavidmackenzie opened #234 "Add keyboard shortcuts and show them in the menu"
Add a keyboard shortcut (at least to start search) and show the shortcut in the system tray menu when opened to facilitate discovery of it.

If one exists already, sorry, I didn't know it...or see it in the readme.
Just add it to the menu to help me find/remember it.

Others could be added, but lower priority I'd say.

[2022-11-18 19:33] a5huynh commented on #232
Thanks for reporting this issue @andrewdavidmackenzie ! That's definitely a bug, it should not be adding blanks 🙂

[2022-11-18 19:39] andrewdavidmackenzie commented on #232
np.
If you "accept" it, maybe it's an "easy first issue" I could look at?
any pointers that you have in your head immediately would be useful, if not, I would try and figure it out.

I assume there will be a list of accepted files types (and their typical file name extensions) somewhere, and that should be checked before accepting a new type?

[2022-11-18 19:54] a5huynh commented on #231
Thanks @alisa101rs, I found the issue! Will get a bugfix for that asap. Some of the `doc.rs` links should be correct, but you're right a bulk of them are linking directly to the web archive instead.

[2022-11-18 19:56] a5huynh commented on #234
Yes this should be more clear. There is a global shortcut to show the search bar (`Cmd` + `Shift` + `/` on Mac, `Ctrl`+ `Shift` + `/` on Windows/Linux). Also configurable in the settings file if you'd like to change it.

[2022-11-18 19:56] #233 closed

[2022-11-18 20:30] a5huynh commented on #232
Yeah absolutely! There's no validation at the moment for whether it's a valid / supported file type. The field is treated a string list. I'd look at the implementation for the field in `crates/client/src/components/forms/stringlist.rs` to get started.

Happy to help you setup your dev environment as well if you'd like to take a stab at it 🙂

[2022-11-18 23:17] #231 closed